
<section class="img-grid">
    <%@students.each do |student|%>
        <%p student%>
        <div class="img-card" style="background-image: url(/img/<%=student['id']%>.jpeg)">
            <h2><%=student['full_name']%></h2>
        </div>
        
    <%end%>
</section>
<div class="button-section">
    <div class="button">
        <a>Add New Entry</a>
    </div>
    <div class="button">
        <a>Start Quiz</a>
    </div>
</div>