<div class="start-menu">

    <h1>YOU DEAD!</h1>

    <img id="man-im-dead" src="https://media.tenor.com/2Qf88Ia0GxIAAAAd/gorilla-monke.gif" alt="">

    <div class="background-container">
        <div class="sliding-background">
            
        </div>
    </div>

    <div class="start-menu-logo">
    </div>

    <div class="start-menu-buttons">
        <a class="start-button" href="/quiz_start">
            <div>
                Start New Quiz
            </div>
        </a>
    </div>

</div>