<!DOCTYPE html>
<html>
    <head>
        <title>What's their face?</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <h1>WHAT'S THEIR</h1>
            <img src="logo/face(2).png" alt="face">
        </header>
        <%= yield%>
    </body>

</html>