<!DOCTYPE html>
<html>
    <head>
        <title>What's their face?</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <a href="/">
                <h1>WHAT'S THEIR</h1>
                <img src="/img/logo/face(2).png" alt="face">
            </a>
        </header>
        <%= yield%>
    </body>

</html>