<div class="start-menu">
    
     <div class="background-container">
        <div class="sliding-background">
            <div class="blur"></div>
        </div>
    </div>

    <div class="start-menu-logo">
        <p>🤔</p>
    </div>
    
    <div class="start-menu-buttons">   
        <form action="/quiz_start" method="POST">
            <input class="start-button" type="submit" name="full_name_mode" value="Full Name Mode" />
            <input class="start-button" type="submit" name="first_name_only_mode" value="First Name Only Mode" />
        </form>
        
    </div>
</div>