<head>
    <title>What's their face?</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<div class="quiz-section">
    <div class="score-check"></div>

    <img class="quiz-img" src="/img/<%=@id%>.jpeg" alt="student">

    <div class="form-container">
        <form action="/quiz/<%=@game_id%>/<%=@id%>" method="POST" autocomplete="off">
            <input class="quiz-input" type="text" name="student_name" placeholder="Enter Guess!"> 
            <input class="quiz-submit" type="submit" value="submit">
            <%unless @last_guess == nil%>
                <%if @last_guess[1]%>
                    <div>Correct!</div>
                <%else%>
                    <div>Wrong, the correct name was <%=@last_guess[0]%></div>
                <%end%>
            <%end%>
        </form>
    </div>
</div>