<form action="/quiz_start" method="POST">
    <input type="submit" name="full_name_mode" value="full name mode" />
    <input type="submit" name="first_name_only_mode" value="first name only mode" />
</form>