

<div class="start-menu">

    <div class="start-menu-logo">
        
    </div>

    <div class="start-menu-buttons">
        <a href="/quiz_start">
            <div>
                Start New Quiz
            </div>
        </a>
        <a href="/cheatsheet">
            <div>
                Cheatsheet
            </div>
        </a>
    </div>

</div>