

<div class="start-menu">

    <div class="background-container">
        <div class="sliding-background">
            
        </div>
    </div>

    <div class="start-menu-logo">
    </div>

    <div class="start-menu-buttons">
        <a class="start-button" href="/quiz_start">
            <div>
                Start New Quiz
            </div>
        </a>
        <a class="start-button" href="/cheatsheet">
            <div>
                Cheatsheet
            </div>
        </a>
    </div>

</div>