<div class="start-menu">

    <h1>YOU WIN!</h1>

    <img src="https://media.tenor.com/-LlG5WSoK74AAAAi/monkey.gif" alt="">

    <div class="background-container">
        <div class="sliding-background">
            
        </div>
    </div>

    <div class="start-menu-logo">
    </div>

    <div class="start-menu-buttons">
        <a class="start-button" href="/quiz_start">
            <div>
                Start New Quiz
            </div>
        </a>
    </div>

</div>